<div class="container-fluid px-4">
  <h1 class="mt-4">Bảng điều khiển</h1>
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <p class="mb-0">
        Bảng điều khiển
      </p>
    </div>
  </div>
</div>
