<div class="container-fluid px-5">
  <h1 class="my-4">Nhập thông tin</h1>
  <div class="mb-4">
    <%= form_for @gold_investment, url: { action: 'create' }, html: { class: 'form-horizontal' } do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
