<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Bảng điều khiển
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Tác giả</div>
    Chử Kim Thắng
  </div>
</nav>
