<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" href="/">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Bảng điều khiển
      </a>
      <a class="nav-link" href="<%= meters_path %>">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-meteor"></i></div>
        Chỉ số điện nước
      </a>
      <a class="nav-link" href="<%= general_setting_path %>">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
        Cài đặt chung
      </a>
    </div>
  </div>
</nav>
